* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;

    background-color: #ebeef3;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-field {
    background-color: #d8dce8;
    color: black;
    border-radius: 5px;
    border-color: none;
    border-style: hidden;
    
    text-align: center;

    width: 20em;
    height: 2.5rem;

    margin-top: 20em;

    font-size: 1rem;
}

#add-to-cart-button {
    background-color: red;
    color: white;
    border-radius: 5px;
    border-style: hidden;

    width: 20em;
    height: 2.5rem;

    margin-top: 1em;

    font-size: 1rem;
}

#add-to-cart-button:hover {
    border-style: solid;
    border-color: rgb(109, 182, 206);
    cursor: pointer;
}

#shopping-list {
    margin: 20px 0 0 0;
    padding-bottom: 20px;;
    width: 100vw;
    max-height: 40vh;
    max-width: 450px;
    overflow: scroll;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

#shopping-list > li{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(154, 154, 154);
    list-style-type: none;

    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);

    font-size: 1rem;

    cursor: pointer;
}